{
  "port": 9999,
  "path": "/deploy-webhook",
  "secret": "{{ github_deploy_webhook_secret }}",
  "log": "/home/nodejs/logs/github-webhook.log",
  "rules": [
    {
      "event": "push",
      "match": "ref == \"refs/heads/main\"",
      "exec": "/home/nodejs/bin/deploy-unofficial-builds.sh"
    }
  ]
}
