{
  "port": 9999,
  "path": "/webhook",
  "secret": "{{ github_secret }}",
  "log": "/home/nodejs/github-webhook.log",
  "rules": [
    {
      "event": "push",
      "match": "ref == \"refs/heads/main\" && repository.full_name == \"nodejs/nodejs.org\"",
      "exec": "/home/nodejs/build-site.sh nodejs"
    },
    {
      "event": "push",
      "match": "ref == \"refs/heads/master\" && repository.full_name == \"nodejs/iojs.org\"",
      "exec": "/home/nodejs/build-site.sh iojs"
    },
    {
      "event": "push",
      "match": "ref == \"refs/heads/master\" && repository.full_name == \"nodejs/benchmarking\"",
      "exec": "/home/nodejs/build-benchmarking-site.sh"
    }
  ]
}
