[Unit]
Description=GitHub Webhook
Wants=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ server_user }}

Environment="USER={{ server_user }}" 
Environment="SHELL=/bin/bash"
Environment="HOME=/home/{{ server_user }}"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

ExecStart=/usr/bin/github-webhook --config /etc/github-webhook.json
Restart=always
RestartSec=30
StartLimitInterval=0
