# tools/jenkins-status:
node_modules/
package-lock.json
# setup secrets files, delete with setup/:
setup/*/host_vars/iojs-*
setup/*/host_vars/node-*
setup/*/host_vars/test-*
setup/*/host_vars/release-*

# ansible/ secrets files (except templates).
*.pyc
ansible/host_vars/*
!ansible/host_vars/README.md
!ansible/host_vars/*-template
.venv
Pipfile.lock

# Orka secrets files including naming mutations
orka/*/.env*
/orka/templates/files/secrets/*
/orka/templates/*.pkrvars.hcl