author "jbergstroem"

start on runlevel [2345]
stop on runlevel [016]

# restart the job indefinitely with a 20 sec delay
respawn
respawn limit 0 20

# logging lives in /var/log/upstart/jenkins.log
console log

env HOME=/home/iojs
env NODE_COMMON_PIPE="$HOME/test.pipe"
env OSTYPE=linux-gnu
# default path in ubuntu 1404 plus ccache
env PATH="/usr/lib/ccache:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

setgid iojs
setuid iojs

script
  exec java -Xmx256m -jar "$HOME/slave.jar" \
	-secret {{ secret }} \
	-jnlpUrl https://ci.nodejs.org/computer/{{ inventory_hostname }}/slave-agent.jnlp
end script
