[Unit]
Description=Jenkins Slave
Wants=network.target
After=network.target

[Service]
Type=simple
User={{user}}
Environment="USER={{user}}" \
            "SHELL=/bin/bash" \
            "HOME=/home/{{user}}" \
            "PATH=/usr/lib64/ccache:/usr/bin" \
            "NODE_COMMON_PIPE=/home/{{user}}/test.pipe" \
            "OSTYPE=linux-gnu"
ExecStart=/usr/bin/java \
          -jar /home/{{user}}/slave.jar \
          -jnlpUrl https://ci.nodejs.org/computer/iojs-digitalocean-fedora21-{{id}}/slave-agent.jnlp \
          -secret {{secret}}
Restart=always
RestartSec=30
StartLimitInterval=0
