[Unit]
Description=github-bot-deploy-webhook

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/github-webhook --config config/github-bot-deploy-webhook.json
WorkingDirectory=/home/{{ server_user }}
Restart=always
RestartSec=10
User={{ server_user }}
