{
  "port": 9999,
  "path": "/deploy-webhook",
  "secret": "{{ gh_bot_secrets.conf.github_deploy_webhook_secret }}",
  "log": "/home/{{ server_user }}/logs/github-bot-webhook.log",
  "rules": [
    {
      "event": "push",
      "match": "ref == \"refs/heads/main\"",
      "exec": "/home/{{ server_user }}/bin/deploy-github-bot.sh"
    }
  ]
}
