*** /etc/rc Wed Jul 19 10:28:37 2017
--- rc Wed Jul 19 10:06:00 2017
***************
*** 99,100 ****
--- 99,101 ----
  #_BPX_JOBNAME='INETD' /usr/sbin/inetd /etc/inetd.conf &
+ _BPX_JOBNAME='JENKINS' /u/iojs/start.sh &
