#!/bin/sh
export _BPXK_AUTOCVT=ON
export _CEE_RUNOPTS="FILETAG(AUTOCVT,AUTOTAG) POSIX(ON)"
export _TAG_REDIR_ERR=txt
export _TAG_REDIR_IN=txt
export _TAG_REDIR_OUT=txt

if [[ $1 == "rev-parse" ]]; then
  /NODEJS2/bin/git "$@" | cat
elif [[ $1 == "whatchanged" ]]; then
  /NODEJS2/bin/git "$@" | iconv -f iso8859-1 -t ibm-1047 | iconv -t iso8859-1 -f ibm-1047
elif [[ $1 == "rev-list" ]]; then
  /NODEJS2/bin/git "$@" | iconv -f iso8859-1 -t ibm-1047 | iconv -t iso8859-1 -f ibm-1047
else
  /NODEJS2/bin/git $@
fi
