---

compiler: {
  'rhel8': '. /opt/rh/gcc-toolset-12/enable'
}

gn_select_compiler: "{{ compiler[os]|default(compiler[os|stripversion])|default('true') }}"
gn_version: 304bbef6c7e9a86630c12986b99c8654eb7fe648

packages: {
  'rhel8': 'gcc-toolset-12'
}
