---
cdn_api_key: "INSERT CLOUDFLARE API KEY"
cdn_api_email: "INSERT CLOUDFLARE API EMAIL"
cdn_api_iojs_id: "INSERT CLOUDFLARE API iojs.org ID"
cdn_api_nodejs_id: "INSERT CLOUDFLARE API nodejs.org ID"
jenkins_token: "INSERT JENKINS API TOKEN"
