---

#
# different os'es have different names for java
#

packages: {
  'centos': 'java-11-openjdk-headless',
  'debian8': 'oracle-java8-installer',
  'debian11': 'openjdk-17-jre-headless',
  'debian12': 'openjdk-17-jre-headless',
  'fedora': 'java-17-openjdk-headless',
  'freebsd': 'openjdk17-jre',
  'macos': 'temurin17',
  'rhel7': 'java-11-openjdk',
  'rhel8': 'java-17-openjdk',
  'rhel9': 'java-17-openjdk',
  'smartos': 'openjdk17',
  'ubuntu': 'openjdk-17-jre-headless',
  'ubuntu1604': 'openjdk-8-jre-headless',
  'ubuntu2204': 'openjdk-17-jre-headless',
  }

java_package_name: "{{ packages[os]|default(packages[os|stripversion])|default(omit) }}"

# Add os_arch combinations here that should install and use AdoptOpenJDK
# binaries. Override any variables in the dictionary.
# e.g. on AIX ansible_architecture is 'chrp' on some of our hosts so we
# override arch to be on the safe side.
adoptopenjdk: {
  aix72_ppc64: { arch: ppc64 },
  aix73_ppc64: { arch: ppc64 },
}

adoptopenjdk_arch: "{{ adoptopenjdk[os+'_'+arch].arch | default(ansible_architecture) }}"
adoptopenjdk_os: "{{ adoptopenjdk[os+'_'+arch].os | default(ansible_system | lower) }}"
adoptopenjdk_version: "{{ adoptopenjdk[os+'_'+arch].version | default('17') }}"
use_adoptopenjdk: "{{ adoptopenjdk[os+'_'+arch] is defined | bool }}"
