---

#
# different os'es have different names for java
#

packages: {
  'centos': 'java-1.8.0-openjdk-headless',
  'debian7': 'openjdk-7-jre-headless',
  'debian8': 'oracle-java8-installer',
  'debian9': 'openjdk-8-jre-headless',
  'debian10': 'openjdk-8-jre-headless',
  'fedora': 'java-1.8.0-openjdk-headless',
  'freebsd': 'openjdk8-jre',
  'macos': 'adoptopenjdk',
  'rhel7': 'java-1.8.0-openjdk',
  'smartos': 'openjdk8',
  'ubuntu': 'openjdk-8-jre-headless',
  'ubuntu1404': 'oracle-java8-installer',
  }

java_package_name: "{{ packages[os]|default(packages[os|stripversion])|default('missing') }}"
