http://dl-1.alpinelinux.org/alpine/v3.4/main
http://dl-2.alpinelinux.org/alpine/v3.4/main
http://dl-3.alpinelinux.org/alpine/v3.4/main
http://dl-4.alpinelinux.org/alpine/v3.4/main
http://dl-5.alpinelinux.org/alpine/v3.4/main

http://dl-1.alpinelinux.org/alpine/edge/testing
http://dl-2.alpinelinux.org/alpine/edge/testing
http://dl-3.alpinelinux.org/alpine/edge/testing
http://dl-4.alpinelinux.org/alpine/edge/testing
http://dl-5.alpinelinux.org/alpine/edge/testing

http://dl-1.alpinelinux.org/alpine/edge/community
http://dl-2.alpinelinux.org/alpine/edge/community
http://dl-3.alpinelinux.org/alpine/edge/community
http://dl-4.alpinelinux.org/alpine/edge/community
http://dl-5.alpinelinux.org/alpine/edge/community
