[Unit]
Description=Schedule periodic www sync
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=300
RandomizedDelaySec=300
OnUnitActiveSec=3600
Unit=sync-www-periodic.service

[Install]
WantedBy=multi-user.target
