{
  "jenkinsToken": "{{ jenkins_token }}",
  "jenkinsJobUrl": "https://ci-release.nodejs.org/job/node-chakracore-nightly",
  "jenkinsCrumbUrl": "https://ci-release.nodejs.org/crumbIssuer/api/json",
  "githubAuthUser": "{{ github_auth_user }}",
  "githubAuthToken": "{{ github_auth_token }}",
  "githubOrg": "nodejs",
  "githubRepo": "node-chakracore",
  "githubScheme": "https://github.com/",
  "urlTypePrefix": "chakracore-"
}
