---

#
# node.js hosts! check the readme on how to add more
# (if its not obvious enough).
#

hosts:

  - infra:

    - digitalocean:
        ubuntu1604-x64-1: {ip: 138.197.224.240, alias: www}
        ubuntu1804-x64-1: {ip: 178.128.202.158, alias: gzemnid}
        ubuntu1804-x64-2: {ip: 45.55.45.227, alias: unofficial-builds}
        ubuntu1804-x64-3: {ip: 157.245.7.159, alias: metrics}
        ubuntu2204-x64-1: {ip: 107.170.240.62, alias: ci}

    - ibm:
        ubuntu1804-x64-1: {ip: 169.45.166.50, alias: ci-release}
        ubuntu2004-x64-1: {ip: 169.60.150.91, alias: ansible}

    - joyent:
        debian10-x64-1: {ip: 147.28.162.110, alias: grafana}
        smartos15-x64-1: {ip: 147.28.183.83, alias: backup}
        ubuntu1604-x64-1: {ip: 147.28.162.105, alias: unencrypted}

    - mnx:
        ubuntu2204-x64-1: {ip: 67.158.54.181, alias: backup-2}

    - rackspace:
        debian12-x64-1: {ip: 104.239.144.144, alias: gh-bot}

    - softlayer:
        debian8-x64-1: {ip: 184.172.29.199, alias: registry-mirror}


  - release:

    - digitalocean:
        rhel8-x64-1: {ip: 159.203.115.217, swap_file_size_mb: 2048}

    - ibm:
        aix72-ppc64_be-1:
            ip: 169.54.113.163
            remote_env:
                PATH: /opt/freeware/bin:/usr/bin:/etc:/usr/sbin:/usr/ucb:/usr/bin/X11:/sbin
            server_jobs: 8
        rhel8-s390x-1: {ip: 148.100.84.45, swap_file_size_mb: 2048, user: linux1}
        rhel8-x64-1: {ip: 169.62.77.228}
        rhel8-x64-2: {ip: 52.117.26.5}

    - iinthecloud:
        ibmi73-ppc64_be-1: {ip: 65.183.160.62, user: nodejs}

    - joyent:
        smartos18-x64-2: {ip: 147.28.162.101}
        smartos20-x64-2: {ip: 147.28.162.108}
        ubuntu1804_docker-x64-1: {ip: 147.28.162.104, user: ubuntu}

    - macstadium:
        macos11.0-arm64-1:
            ansible_python_interpreter: /usr/bin/python3
            ip: 207.254.38.74
            user: administrator
            remote_env:
                PATH: /opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin
            server_jobs: 6

    - marist:
        zos24-s390x-1: {ip: 148.100.36.157, user: unix1}

    - osuosl:
        aix72-ppc64_be-1:
            ip: 140.211.9.77
            server_jobs: 6
        centos7-arm64-1: {ip: 140.211.169.7, server_jobs: 2, user: centos}
        rhel8-arm64-1:
            ip: 140.211.169.58
            server_jobs: 2
            user: cloud-user
            swap_file_size_mb: 4096
        rhel8-ppc64_le-1: {ip: 140.211.168.185, swap_file_size_mb: 2048, user: cloud-user}

    - orka:
        macos11-x64-1:
            ansible_python_interpreter: /usr/bin/python3
            ip: 199.7.167.100
            port: 8822
            user: administrator



  - test:

    - azure:
        msft-win10_vs2019-x64-1: {ip: nodejs.westeurope.cloudapp.azure.com}
        msft-win10_vs2019-x64-2: {ip: nodejs.westus3.cloudapp.azure.com}
        msft-win10_vs2019-x64-3: {ip: nodejs2.eastus.cloudapp.azure.com}
        msft-win10_vs2019-x64-4: {ip: nodejs.westus3.cloudapp.azure.com}
        msft-win11_vs2022-arm64-1: {ip: nodejs.westeurope.cloudapp.azure.com}
        msft-win11_vs2022-arm64-2: {ip: nodejs2.eastus.cloudapp.azure.com}
        msft-win11_vs2022-arm64-3: {ip: nodejs.westeurope.cloudapp.azure.com}
        msft-win11_vs2022-arm64-4: {ip: nodejs2.eastus.cloudapp.azure.com}
        msft-win11_vs2022-arm64-5: {ip: nodejs.westeurope.cloudapp.azure.com}
        msft-win11_vs2022-arm64-6: {ip: nodejs2.eastus.cloudapp.azure.com}
        msft-win11_vs2022-x64-1: {ip: nodejs.westeurope.cloudapp.azure.com}
        msft-win11_vs2022-x64-2: {ip: nodejs.westus3.cloudapp.azure.com}
        msft-win11_vs2022-x64-3: {ip: nodejs2.eastus.cloudapp.azure.com}
        msft-win11_vs2022-x64-4: {ip: nodejs.westus3.cloudapp.azure.com}
        msft-win2016_vs2017-x64-1: {ip: nodejs.westeurope.cloudapp.azure.com}
        msft-win2016_vs2017-x64-2: {ip: nodejs.westus3.cloudapp.azure.com}

    - digitalocean:
        debian11-x64-1: {ip: 174.138.79.159, swap_file_size_mb: 2048}
        debian12-x64-1: {ip: 159.203.105.159, swap_file_size_mb: 2048}
        fedora38-x64-1: {ip: 162.243.187.89}
        fedora38-x64-2: {ip: 134.209.172.40}
        fedora39-x64-1: {ip: 159.203.117.50}
        fedora40-x64-1: {ip: 159.65.248.149}
        freebsd12-x64-1: {ip: 45.55.90.237, user: freebsd}
        freebsd12-x64-2: {ip: 107.170.28.213, user: freebsd}
        rhel8-x64-1: {ip: 161.35.139.78, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel9-x64-1: {ip: 134.122.12.240, swap_file_size_mb: 2048}
        ubuntu2204_docker-x64-1: {ip: 134.209.55.216}
        ubuntu2204_docker-x64-2: {ip: 159.89.183.200}
        ubuntu1804-x64-1: {ip: 178.128.181.213}
        ubuntu2204-x64-1: {ip: 138.197.4.1}
        ubuntu2204-x64-2: {ip: 167.99.124.188}

    - equinix:
        ubuntu2004_docker-arm64-1: {ip: 145.40.81.219}
        ubuntu2004_docker-arm64-3: {ip: 145.40.99.31}

    - ibm:
        aix72-ppc64_be-1:
            ip: 169.54.113.142
            remote_env:
                PATH: /opt/freeware/bin:/usr/bin:/etc:/usr/sbin:/usr/ucb:/usr/bin/X11:/sbin
            server_jobs: 8
        aix72-ppc64_be-2:
            ip: 169.54.113.165
            remote_env:
                PATH: /opt/freeware/bin:/usr/bin:/etc:/usr/sbin:/usr/ucb:/usr/bin/X11:/sbin
            server_jobs: 8
        aix73-ppc64_be-1:
            ansible_python_interpreter: /opt/freeware/bin/python3
            ansible_remote_tmp: /tmp/.ansible
            ip: 163.68.64.114
            remote_env:
                PATH: /opt/freeware/bin:/usr/bin:/etc:/usr/sbin:/usr/ucb:/usr/bin/X11:/sbin
            server_jobs: 6
        rhel8-s390x-1: {ip: 148.100.84.98, user: linux1, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-s390x-2: {ip: 148.100.84.38, user: linux1, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-s390x-3: {ip: 148.100.84.17, user: linux1, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-s390x-4: {ip: 148.100.84.239, user: linux1, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-x64-1: {ip: 169.61.75.51, build_test_v8: yes}
        rhel8-x64-2: {ip: 169.61.75.58, build_test_v8: yes}
        rhel8-x64-3: {ip: 52.117.26.13, build_test_v8: yes}
        rhel9-x64-1: {ip: 169.60.150.92, swap_file_size_mb: 2048}
        ubuntu2204-x64-1: {ip: 169.60.150.82}
        ubuntu2204-x64-2: {ip: 169.44.168.2}
        # when adding, removing or changing the IPs for any
        # `jenkins-workspace-*` machine, remember to rerun
        # the `ansible/playbooks/create-github-bot.yml` playbook
        # to update the Jenkins worker IP allowlist in github-bot
        ubuntu2204-x64-3: {ip: 52.117.26.14, alias: jenkins-workspace-6}
        ubuntu2204_docker-x64-1: {ip: 52.117.26.9}

    - equinix_mnx:
        smartos18-x64-3: {ip: 147.28.162.102}
        smartos18-x64-4: {ip: 147.28.162.103}
        smartos20-x64-3: {ip: 147.28.162.107}
        smartos20-x64-4: {ip: 147.28.162.109}
        ubuntu1804-x64-1: {ip: 147.28.162.99, user: ubuntu}

    - hetzner:
        ubuntu2204-x64-1:
            ip: 37.27.104.214
            build_test_v8: yes
            is_benchmark: true
        ubuntu2204-x64-2:
            ip: 37.27.104.215
            build_test_v8: yes
            is_benchmark: true

    - macstadium:
        macos11.0-arm64-3:
            ansible_python_interpreter: /usr/bin/python3
            ip: 207.254.38.86
            user: administrator
            remote_env:
                PATH: /opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin
        macos11.0-arm64-4:
            ansible_python_interpreter: /usr/bin/python3
            ip: 207.254.38.89
            user: administrator
            remote_env:
                PATH: /opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin

    - linuxonecc:
        rhel9-s390x-1: {ip: 148.100.85.171, swap_file_size_mb: 2048, user: linux1}
        rhel9-s390x-2: {ip: 148.100.85.83, swap_file_size_mb: 2048, user: linux1}
        rhel9-s390x-3: {ip: 148.100.85.130, swap_file_size_mb: 2048, user: linux1}
        rhel9-s390x-4: {ip: 148.100.85.227, swap_file_size_mb: 2048, user: linux1}

    - marist:
        zos24-s390x-1:
            ip: 148.100.36.155
            user: unix1
            ansible_python_interpreter: /rsusr/rocket/python-2017-04-12-py27/python27/bin/python
            become_method: su
            cmake_path_env: "{{ home }}/{{ server_user }}:/rsusr/rocket/bin:/bin"
            git_cmd: /rsusr/rocket/bin/git
            remote_env:
                LIBPATH: /lib:/usr/lib:.:/rsusr/rocket/lib/perl5/5.24.0/os390/CORE.pod:/rsusr/rocket/python-2017-04-12-py27/python27/lib/
                PATH: /rsusr/rocket/python-2017-04-12-py27/python27/bin:/bin:/rsusr/rocket/bin
                SSL_CERT_FILE: "{{ home }}/{{ server_user }}/ca-bundle.crt"
            server_jobs: 4
        zos24-s390x-2:
            ip: 148.100.36.156
            user: unix1
            ansible_python_interpreter: /rsusr/rocket/python-2017-04-12-py27/python27/bin/python
            become_method: su
            cmake_path_env: "{{ home }}/{{ server_user }}:/rsusr/rocket/bin:/bin"
            git_cmd: /rsusr/rocket/bin/git
            remote_env:
                LIBPATH: /lib:/usr/lib:.:/rsusr/rocket/lib/perl5/5.24.0/os390/CORE.pod:/rsusr/rocket/python-2017-04-12-py27/python27/lib/
                PATH: /rsusr/rocket/python-2017-04-12-py27/python27/bin:/bin:/rsusr/rocket/bin
                SSL_CERT_FILE: "{{ home }}/{{ server_user }}/ca-bundle.crt"
            server_jobs: 4
    - mnx:
        # when adding, removing or changing the IPs for any
        # `jenkins-workspace-*` machine, remember to rerun
        # the `ansible/playbooks/create-github-bot.yml` playbook
        # to update the Jenkins worker IP allowlist in github-bot
        ubuntu2204-x64-1: {ip: 67.158.54.159, alias: jenkins-workspace-9}
        ubuntu2204-x64-2: {ip: 8.225.232.44, alias: jenkins-workspace-10}
        smartos21-x64-1: {ip: 8.225.232.135}
        smartos21-x64-2: {ip: 8.225.232.137}
        smartos23-x64-1: {ip: 8.225.232.134}
        smartos23-x64-2: {ip: 8.225.232.141}

    - osuosl:
        # secret for -1 was compromised, do not use -1 name
        aix72-ppc64_be-2:
            ip: 140.211.9.30
            server_jobs: 3 # Using anything higher than 3 causes crashes on this machine
        aix72-ppc64_be-3:
            ip: 140.211.9.131
            server_jobs: 6
        aix72-ppc64_be-4:
            ip: 140.211.9.101
            server_jobs: 6
        rhel8-ppc64_le-1: {ip: 140.211.168.183, user: cloud-user, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-ppc64_le-2: {ip: 140.211.168.76, user: cloud-user, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-ppc64_le-3: {ip: 140.211.168.221, user: cloud-user, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel8-ppc64_le-4: {ip: 140.211.168.194, user: cloud-user, build_test_v8: yes, swap_file_size_mb: 2048}
        rhel9-ppc64_le-1: {ip: 140.211.10.92, user: cloud-user, swap_file_size_mb: 2048}
        rhel9-ppc64_le-2: {ip: 140.211.10.69, user: cloud-user, swap_file_size_mb: 2048}
        rhel9-ppc64_le-3: {ip: 140.211.10.110, user: cloud-user, swap_file_size_mb: 2048}
        ubuntu2004_docker-arm64-1: {ip: 140.211.169.11, user: ubuntu}

    - orka:
        macos10.15-x64-1:
            ansible_python_interpreter: /usr/bin/python3
            ip: 199.7.167.102
            port: 8824
            user: administrator
        macos10.15-x64-2:
            ansible_python_interpreter: /usr/bin/python3
            ip: 199.7.167.101
            port: 8824
            user: administrator
        macos11-x64-1:
            ansible_python_interpreter: /usr/bin/python3
            ip: 199.7.167.102
            port: 8822
            user: administrator
        macos11-x64-2:
            ansible_python_interpreter: /usr/bin/python3
            ip: 199.7.167.102
            port: 8823
            user: administrator
        macos12-x64-1:
            ansible_python_interpreter: /usr/bin/python3
            ip: 199.7.167.100
            port: 8823
            user: admin

    - iinthecloud:
        ibmi73-ppc64_be-1: {ip: 65.183.160.52, user: nodejs}
        ibmi73-ppc64_be-2: {ip: 65.183.160.59, user: nodejs}

    - rzkh:
        ibmi73-ppc64_be-1:
            ip: 185.113.4.148
            user: nodejs
            server_jobs: 32

    - rackspace:
        centos7-x64-1: {ip: 119.9.27.82}
        debian10-x64-1: {ip: 104.239.140.184}
        debian11-x64-1: {ip: 23.253.109.216, swap_file_size_mb: 4096}
        fedora32-x64-1: {ip: 119.9.51.79}
        ubuntu1604-x64-1: {ip: 119.9.51.176}
        ubuntu1604-x64-2: {ip: 104.130.124.194}
        win2016_vs2015-x64-1: {}
        win2016_vs2015-x64-2: {}
        win2019_vs2019-x64-1: {}
        win2019_vs2019-x64-2: {}
        win2019_vs2019-x64-3: {}
        win2019_vs2019-x64-4: {}
        win2022_vs2022-x64-1: {}
        win2022_vs2022-x64-2: {}
        win2022_vs2022-x64-3: {}
        win2022_vs2022-x64-4: {}
        win2022_vs2022-x64-5: {}
        win2022_vs2022-x64-6: {}

    - softlayer:
        debian10-x64-1: {ip: 169.44.16.126}
        debian12-x64-1: {ip: 169.60.150.88, swap_file_size_mb: 2048}
