---

#
# Updates all packages for fedora-based distributions
#

  - name: upgrade installed packages
    ansible.builtin.dnf:
      name: "*"
      state: latest
      use_backend: "{{ os|startswith('aix')|ternary('dnf4', omit) }}"
    notify: package updated
