name: ansible-lint
on:
  push:
    branches-ignore:
      - "dependabot/*"
  pull_request:

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # needed for progressive mode to work

      - name: Run ansible-lint
        uses: ansible/ansible-lint-action@v6
        with:
          path: "ansible/"
