name: Lint
on:
  push:
    branches-ignore:
      - "dependabot/*"
  pull_request:
jobs:
  Python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: 3.14
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # pip install -r requirements.txt  # TODO: Add tap2junit
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 --version
        flake8 .
