name: Shellcheck
on:
  push:
    paths:
      - '**/*.sh'
      - '.github/workflows/shellcheck.yml'
      - '.shellcheckrc'
  pull_request:
    paths:
      - '**/*.sh'
      - '.github/workflows/shellcheck.yml'
      - '.shellcheckrc'

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: ShellCheck
      uses: ludeeus/action-shellcheck@2.0.0
      with:
        check_together: 'yes'
